name: Lint workflows
on:
  push:
    paths:
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run actionlint (docker)
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
        continue-on-error: true
