name: t13 - PyFlakes Issues
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          python3 -c "
          import os
          print(undefined_variable)
          "
