name: t23 - Local Action Inputs Validation
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/nonexistent
        with:
          invalid_input: value
