name: t28 - Hardcoded Credentials
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          export API_KEY="sk_live_1234567890abcdef"
          echo "API Key set"
